html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

a:link {
  color: white;
  text-decoration: none;
}
a:visited {
  color: white;
}

div#dice-box canvas {
  width: 100%;
  height: 100%;
}

button.MuiButton-root {
  text-transform: none;
  border-radius: 10px;
  color: white;
  font-size: 16px;
}

button.MuiButton-root p {
  margin: 0;
  display: inline;
}

.MuiDialogTitle-root {
  background-color: #222222;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.MuiDialogActions-root {
  background-color: #222222;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.MuiDialogContent-root {
  background-color: #222222;
}

div.MuiDialog-paper {
  border-radius: 20px;
}

div.MuiOutlinedInput-root {
  border: 2px solid #414141;
  border-radius: 10px;
}

div.MuiOutlinedInput-root > fieldset {
  border: none;
}

label.MuiInputLabel-shrink {
  display: none;
}

div.MuiAccordionSummary-root {
  &:hover {
    background-color: #2f2f2f;
  }
}

th.MuiTableCell-head {
  padding-bottom: 5px;
  line-height: 1;
  font-size: 16px;
  font-weight: 500;
  padding-left: 15px;
  padding-right: 15px;
}

td.MuiTableCell-root {
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 1;
  font-size: 16px;
  font-weight: 500;
  border: 0;
}

thead > tr.MuiTableRow-root > th {
  padding-top: 0;
  border-bottom: 0;
}

tbody > tr.MuiTableRow-root {
  vertical-align: top;
  border: 0;
}

tbody > tr.MuiTableRow-root > td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

tbody > tr.MuiTableRow-root > td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

span.MuiRating-root {
  align-self: center;
}

span.MuiRating-decimal {
  margin-right: 5px;
}

div.Mui-focused {
  border: 2px solid #007aff;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 8px; /* for vertical scrollbar */
  height: 8px; /* for horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
  border-radius: 20px; /* roundness of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: #414141; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}

/* Firefox-only styles */
@-moz-document url-prefix() {
  * {
    scrollbar-color: #414141 #0c0c0c;
  }
}

* {
  scrollbar-width: auto;
}

span.MuiSlider-mark {
  display: none;
}

span.MuiSlider-thumb:active {
  box-shadow: none;
}

div.MuiInputBase-root > input {
  padding: 0px;
  font-weight: 500;
}

/* Autocomplete dropdown */

div.MuiAutocomplete-inputRoot {
  padding: 0px !important;
}

div.MuiAutocomplete-root > div.MuiTextField-root {
  padding: 0px !important;
}

div.MuiAutocomplete-inputRoot > input {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-left: 14px !important;
  font-size: 16px !important;
  font-weight: 500 !important;
}

div.MuiAutocomplete-root {
  border: none;
}

ul.MuiAutocomplete-listbox {
  font-weight: 500;
}

div.MuiAutocomplete-popper.MuiPopper-root {
  padding: 0;
  padding-bottom: 3px;
  border: 2px solid #007aff;
  border-radius: 10px;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-top: none;
}

div.MuiAutocomplete-popper.MuiPopper-root > div.MuiPaper-elevation > ul {
  padding: 0;
  background-color: #222222;
}

div.MuiAutocomplete-root.Mui-expanded.has-options
  > div
  > div.MuiAutocomplete-inputRoot.Mui-focused {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

/* Select dropdown */

div.CustomSelect {
  border: none;
}

div.CustomSelect > div.MuiSelect-select {
  border: 2px solid #414141;
  border-radius: 10px;
}

div.Mui-focused.CustomSelect > div.MuiSelect-select {
  border: 2px solid #007aff;
  border-radius: 10px;
}

div.MuiInputBase-root > div.MuiSelect-select[aria-expanded='true'] {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

div.MuiPaper-root.MuiPopover-paper.MuiMenu-paper {
  border: 2px solid #007aff;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-top: none;
}

div.MuiPaper-root.MuiPopover-paper.MuiMenu-paper > ul {
  padding: 0px;
  background-color: #222222;
}

/* Search bar */

div.MuiOutlinedInput-root.customSearch {
  border: 2px solid #222222;
  border-radius: 10px;
}

span.MuiSlider-mark {
  display: none;
}

span.MuiSlider-thumb:active {
  box-shadow: none;
}

div#root {
  padding-top: 15px;
}

.mono {
  font-family: 'IBM Plex Mono', monospace;
}

.player-tile-button {
  &:hover {
    background-color: white !important;
  }
}

.MuiLinearProgress-bar {
  transition: none !important;
}

/* cube rotations */
.cube-container {
  perspective: 400px;
}

.cube {
  position: relative;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  /* animation: rotateCube 5s infinite linear; */
}

.cube > .face {
  position: absolute;
  width: 100px;
  height: 100px;
  background: #0080f0;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
}

.cube > .front {
  transform: rotateY(0deg) translateZ(50px);
}
.cube > .back {
  transform: rotateY(180deg) translateZ(50px);
}
.cube > .left {
  transform: rotateY(-90deg) translateZ(50px);
}
.cube > .right {
  transform: rotateY(90deg) translateZ(50px);
}
.cube > .top {
  transform: rotateX(90deg) translateZ(50px);
}
.cube > .bottom {
  transform: rotateX(-90deg) translateZ(50px);
}

/* Editor link popup */

.element-link {
  display: inline;
  position: relative;
}

.element-link .popup {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  /* background-color: white; */
  padding: 6px 10px;
  gap: 10px;
  border-radius: 6px;
  border: 1px solid lightgray;
}

.element-link .popup a {
  display: flex;
  align-items: center;
  gap: 5px;
  padding-right: 10px;
  border-right: 1px solid lightgrey;
}

.element-link .popup button {
  border: none;
  background: transparent;
}

.element-link .popup button:hover {
  color: rebeccapurple;
  cursor: pointer;
}

/* rich editor toolbar colors */

.rich-editor .ql-toolbar svg .ql-stroke,
.rich-editor .ql-toolbar svg .ql-line {
  stroke: white;
}

.rich-editor .ql-toolbar .ql-picker-options svg .ql-stroke,
.rich-editor .ql-toolbar .ql-picker-options svg .ql-line {
  stroke: #444;
}

.rich-editor .ql-toolbar svg .ql-fill {
  fill: white;
}

.rich-editor .ql-picker-label {
  color: white;
}

div.ql-container {
  background: #222222;
}

/* rich editor content styles */

div.ql-editor {
  font-size: 16px;
  font-weight: 500;
}

div.ql-editor h1 {
  font-size: 36px !important;
}

div.ql-editor h2 {
  font-size: 30px !important;
}

div.ql-editor h3 {
  font-size: 24px !important;
}

div.ql-editor strong {
  font-weight: 700 !important;
}

div.rich-text-display p {
  margin: 0;
}

div.rich-text-display h1,
div.rich-text-display h2,
div.rich-text-display h3 {
  margin: 0;
}

div.rich-text-display a {
  color: #007aff;
  border-bottom: 2px solid #007aff;
}

div.rich-text-display p.ql-align-center {
  text-align: center;
}

div.rich-text-display p.ql-align-right {
  text-align: right;
}

div.rich-text-display p.ql-align-justify {
  text-align: justify;
}

div.rich-editor div.ql-container {
  border-radius: 15px;
}

div.rich-display div.ql-container {
  border-radius: 15px;
}

div.rich-display div.read-only div.ql-container {
  border: none !important;
}
